/* HTML RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

html{scroll-behavior:smooth}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 24px;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



* {
  font-family: "Raleway","Quicksand", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
}

body {
  font-size: 1.25rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0.4rem auto;
}

h2 {
  font-size: 2.3rem;
  font-weight: bold;
  padding: 0.3rem auto;
}

h3 {
  font-size: 2rem;
  padding: 0.5rem;
  font-weight: bold;
  color: #231F20;
}

h4 {
  font-size: 1.5;
  padding: 0.25rem auto;
  text-decoration: underline;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 0.7rem;
}

p {
  font-size: 1.25rem;
}

span {
  /* color: #cad079; */
  font-weight: 800;
  color: lightgray;
}

/* li > b {
  color: #f50089;
} */

li > span {
  color: #f50089;
}

a {
  /* color: $primary-color; */
}

b {
  font-weight: 600;
}

i {
  font-style: italic;
}

u {
  text-decoration: underline;
}



/* BY PARTS */

footer {
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
}

.container {
  margin: auto 30px;
}

@media (min-width: 600px) {
  .header-bg {
    background-position: 25% 25%;
  }
  h1 {
    font-size: 3rem;
  }  
}

.header-bg {
  background-color: grey;
  /* background-color: #f50089; */
  background-image: url('./images/header-bg.png');
  /* background-image: url("https://media.giphy.com/media/OK5LK5zLFfdm/giphy.gif"); */
  /* background-image: url("https://media2.giphy.com/media/xT9IgN8YKRhByRBzMI/giphy.gif?cid=790b76115cfa6b4d57714a6959816463&rid=giphy.gif"); */
  /* background-image: url("https://media2.giphy.com/media/l46CnhyOv6dAiGQYo/giphy.gif?cid=ecf05e47tocqy13duudz7rgsgaztc8bjl8zsht9z4yjpl54d&rid=giphy.gif&ct=g"); */
  color: white;
  background-position: center; 
  background-size: cover;
  background-blend-mode: multiply;
  /* width: 375px;
  height: 812px; */
  /* transform: rotate(-90deg); */
  margin: 3rem;
  height: calc(100vh - 6rem);
}

@media (min-width: 600px) {
  .header-bg {
    background-position: 25% 25%;
    margin: 7rem;
    height: calc(100vh - 14rem);
  }
}

.header-des {
  text-align: center;
  padding: 1rem 2rem;
}

.header-cta {
  font-size: 1rem;
  padding: auto 2rem;
}

.scroll {
  position: absolute;
  top: calc(100vh - 10rem);
  left: calc(50% - 40px);
  z-index: 100;
  margin-bottom: 1rem;
}

.scroll > img {
  width: 80px;
  height: 80px;
}

@media (min-width: 600px) {
  .scroll {
    top: calc(100vh - 15rem);
    left: calc(50% - 50px);
  }

  .scroll > img {
    width: 100px;
    height: 100px;
  }
}

.experience {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center
}

.grey-bg {
  background-color: #FBFBFA;
  padding: 1rem;
  margin: 3rem auto;
  width: 100%;
}

.softviolet-bg {
  background-color: #FFF1F9;
  padding: 1rem;
  width: 100%;
}

@media (min-width: 800px) {
  .experience > div {
    margin: 1rem 1.5rem;
    width: 37%;
  }
}

.knowledge {
  width: 100%;
  padding: 2.5rem;
  background-color: #FBFBFA;
}


#knowledge-list {
  width: 90%;
}

#knowledge-list > li {
  border: 1px solid #f50089;
  border-radius: .25rem;
  line-height: 24px;
  padding: 0.375rem 0.75rem;
  margin: 0.25rem;
  font-size: 1.1rem;
  color: #f50089;
}

.color-grey {
  color: grey;
}


@media (min-width: 1000px) {
  .knowledge {
    width: 50vw;
  }

  #knowledge-list {
    width: 40vw;
  }
}

.ines-bg {
  background-color: lightgray;
  background-image: url('./images/header-bg.png');
  background-position: center; 
  background-size: cover;
  background-blend-mode: multiply;
  height: 50vw;
  width: 50vw;
  /* width: 375px;
  height: 812px; */
  /* transform: rotate(-90deg); */
}

@media (max-width: 1000px) {
  .ines-bg {
    display: none;
  }
}


.danger-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.danger-list > li {
  margin: 1rem;
  min-width: 95%;
}

@media (min-width: 800px) {
  .danger-list > li {
    margin: 1rem 1.5rem;
    min-width: 25%;
    width: 250px;
  }
}


.danger-list > li > p {
  font-size: 1rem;
}

.bg-green{
  background-color: #cad079;
  height: 4vh;
  margin-top: 20vh;
  color: white;
  text-align: center;
}

.green{
  color: #cad079;
}

/* MAIN STYLES */


.full-height {
  height: 100vh;
}

.min-full-height {
  min-height: 100vh;
}

.mid-height {
  height: 50vh;
}

.third-height {
  height: 33vh;
}

.cnt-pos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-cnt-pos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

/* BUTTONS */

.btn {
  /* border-radius: .25rem; */
  line-height: 24px;
  padding: 1.2rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  width: 239px;
  height: 64px;
  border-radius: 45.5px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
}

.btn:hover {
  /* border-radius: .25rem; */
  border: 2px solid #f50089;
  color: #f50089;
}

/*  FLEXBOX */

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

/* BOOTSTRAP WANNABE */

/* // Margin top */

.mt-1 {
  margin-top: calc(1rem/3);
}

.mt-2 {
  margin-top: calc(1rem/2);
}

.mt-3 {
  margin-top: calc(1rem);
}

.mt-4 {
  margin-top: calc(4rem/3);
}

.mt-5 {
  margin-top: calc(5rem/3);
}

.mt-6 {
  margin-top: 3rem;
}

/* // Margin bottom */

.mb-1 {
  margin-bottom: calc(1rem/3);
}

.mb-2 {
  margin-bottom: calc(1rem/2);
}

.mb-3 {
  margin-bottom: calc(1rem);
}

.mb-4 {
  margin-bottom: calc(4rem/3);
}

.mb-5 {
  margin-bottom: calc(5rem/3);
}

.mb-6 {
  margin-bottom: calc(2rem);
}

/* // Margin left */

.ml-1 {
  margin-left: calc(1rem/3);
}

.ml-2 {
  margin-left: calc(1rem/2);
}

.ml-3 {
  margin-left: calc(1rem);
}

.ml-4 {
  margin-left: calc(4rem/3);
}

.ml-5 {
  margin-left: calc(5rem/3);
}

.ml-6 {
  margin-left: calc(2rem);
}

/* // Margin right */

.mr-1 {
  margin-right: calc(1rem/3);
}

.mr-2 {
  margin-right: calc(1rem/2);
}

.mr-3 {
  margin-right: calc(1rem);
}

.mr-4 {
  margin-right: calc(4rem/3);
}

.mr-5 {
  margin-right: calc(5rem/3);
}

.mr-6 {
  margin-right: calc(2rem);
}

/* // Paddings  */


.pt-1 {
  padding-top: calc(1rem/3);
}

.pt-2 {
  padding-top: calc(1rem/2);
}

.pt-3 {
  padding-top: calc(1rem);
}

.pt-4 {
  padding-top: calc(4rem/3);
}

.pt-5 {
  padding-top: calc(5rem/3);
}

.pt-6 {
  padding-top: calc(2rem);
}

/* // padding bottom */

.pb-1 {
  padding-bottom: calc(1rem/3);
}

.pb-2 {
  padding-bottom: calc(1rem/2);
}

.pb-3 {
  padding-bottom: calc(1rem);
}

.pb-4 {
  padding-bottom: calc(4rem/3);
}

.pb-5 {
  padding-bottom: calc(5rem/3);
}

.pb-6 {
  padding-bottom: calc(2rem);
}

/* // padding left */

.pl-1 {
  padding-left: calc(1rem/3);
}

.pl-2 {
  padding-left: calc(1rem/2);
}

.pl-3 {
  padding-left: calc(1rem);
}

.pl-4 {
  padding-left: calc(4rem/3);
}

.pl-5 {
  padding-left: calc(5rem/3);
}

.pl-6 {
  padding-left: calc(2rem);
}

/* // padding right */

.pr-1 {
  padding-right: calc(1rem/3);
}

.pr-2 {
  padding-right: calc(1rem/2);
}

.pr-3 {
  padding-right: calc(1rem);
}

.pr-4 {
  padding-right: calc(4rem/3);
}

.pr-5 {
  padding-right: calc(5rem/3);
}

.pr-6 {
  padding-right: calc(2rem);
}

/* HEADER CSS */
.header {
  padding-left: 10%;
  padding-right: 10%;
}

.big-letters {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
}

@media (min-width: 600px) {
  .big-letters {
    font-size: 3.5em;
  }
}

.big-letters > a {
  text-decoration: none;
  color: grey;
}

.big-letters > a:hover {
  text-decoration: underline;
  color: lightgrey;
}

.big-letters > p {
  padding: none;
}

.medium-letters {
  font-size: 1em;
  font-weight: bold;
  padding-top: 2em;
}

.medium-letters > a {
  text-decoration: none;
  color: grey;
}

.medium-letters > a:hover {
  text-decoration: underline;
  color: lightgrey;
}

.medium-letters > p {
  padding: none;
}

@media (min-width: 600px) {
  .big-letters {
    font-size: 3.5em;
  }
  .medium-letters {
    font-size: 1.5em;
  }
}


/* CODING LINES WEBSITE */

.code-structure {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.code-structure * {
  font-family: 'Source Code Pro', monospace;
}

.code-structure body {
  line-height: 24px;
  font-size: 1.25rem;
}

.code-structure ul > li {
  color: white;
}

.indent {
  padding-left: 1rem;
}

@media (min-width: 600px) {
  .code-structure ul > li {
    color: white;
  }
  .indent {
    padding-left: 2rem;
  }
}

.code-structure h1 {
  font-size: 1.1rem;
  font-weight: normal;
}

.code-structure br {
  line-height: 24px;
}

@media (min-width: 600px) {
  .code-structure h1 {
    font-size: 1.1rem;
  }  
}

.code-structure h2 {
  font-size: 1.1rem;
  font-weight: normal;
  padding-top: 0;
  padding-bottom: 0;
}

.code-structure h3 {
  font-size: 1.1rem;
  line-height: 24px;
  font-weight: normal;
  color: #231F20;
  padding-top: 0;
  padding-bottom: 0;
}

.code-structure h4 {
  font-size: 1.1rem;
  line-height: 24px;
  text-decoration: underline;
  padding-top: 0;
  padding-bottom: 0;
}

.code-structure h5 {
  font-size: 1.1rem;
  font-weight: normal;
  padding-top: 0;
  padding-bottom: 0;
}

.code-structure p {
  font-size: 1.1rem;
  padding: none;
  color: white;
}

.coding-lines p {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #030b17;
  color: grey;
  border-right: 1px solid black;
  max-width: 50px;
  text-align: right;
}

.coding-topics {
  width: 100%;
  background-color: #111926;
  padding-left: 10px;
}

.coding-topics > p {
  color: white;
}

/* // padding right */

.comment {
  color: #4FA954!important;
}

.green {
  color: #A2EAA6!important;
}

.light-yellow {
  color: #f5f49d!important;
}

.dark-yellow {
  color: #ffe100!important;
}

.orange {
  color: #e4b565!important;
}

.red {
  color: #d07868!important;
}

.purple {
  color: #ce84c2!important;
}

.pink {
  color: #d93bbe!important;
}

.light-blue {
  color: #65bedc!important;
}

.light-blue-no {
  color: #65bedcaf!important;
}

.dark-blue {
  color: #438ecc!important;
}

.output {
  color: grey!important;
}


/* START typewriter effect */
.typewriter {
  display: flex;
  justify-content: left;
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* END typewriter effect */
